{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}

<div class="glass form_container">
    <div class="row">
      <h1 class="text-center signin-title">{% trans "Sign In" %}</h1>
    </div>
    <div class="row">
        <div class="text-center">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="signin-button" type="submit">{% trans "Sign In" %}</button>
                <p class="signin-links"><a href="{% url 'account_reset_password' %}">Forgot password?</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}
