{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %} 
{%block content %}
<div class="container row p-0 mt-0">
  <div class="col d-flex justify-content-between px-0">
    <h3 class="transactions-title">New Transaction</h3>
  </div>
<div class="transaction container glass mt-0">
  <div class="row">
    <form method="post">
      {{ TransactionForm | crispy }} {% csrf_token %}
      <button class="transaction-button w-100 h-auto" type="submit">Submit</button>
    </form>
  </div>
</div>
{% endblock content %}
