{% load static %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% url 'home' as home_url %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AquaLedger</title>

    <!-- Google Fonts CSS -->

    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&family=Nunito+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <!-- FontAwesome -->

    <script
      defer
      src="https://kit.fontawesome.com/bebd4357a9.js"
      crossorigin="anonymous"
    ></script>

    <!-- Bootstrap CSS -->

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body class="d-flex flex-column h-100 main-bg droplets">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container glass flex-column">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="{% url 'home' %}" class="nav-link">Dashboard</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">Transactions</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">Budgets</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">Goals</a>
            </li>
            <li class="nav-item">
              <a href="{% url 'admin:index' %}" class="nav-link">Admin</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                href="{% url 'account_signup' %}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="foreground_grass"><img class="grass" src="{% static 'images/grass.png' %}" alt="grass image"></div>
    <div class="foreground_cloud"><img class="cloud" src="{% static 'images/cloud.png' %}" alt="cloud image"></div>
    <div class="foreground_cloud_2"><img class="cloud_2" src="{% static 'images/cloud_2.png' %}" alt="cloud image"></div>
    <div class="foreground_city">
        <img class="city" src="{% static 'images/city.png' %}" alt="city image">
        <img class="city_2" src="{% static 'images/city_2.png' %}" alt="city image">
    </div>
    <main>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}

    </main>
  </body>
</html>
