{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %} 
{% block content %} {% url 'new_budget' as new_budget_url %}
<div class="container row p-0 mt-0">
  <div class="col d-flex justify-content-between px-0">
    <h3 class="transactions-title">Monthly Budgets</h3>
  </div>
  <div class="col d-flex justify-content-center px-0">
    <a
      class="transaction-button ms-auto my-auto text-center"
      href="{% url 'new_budget' %}"
      >+ Add Budget</a
    >
  </div>
</div>
<div class="mt-0 glass budget container">
  {% for item in items_with_progress %}
  <div class="glass mb-2 p-2">
    <div class="flex justify-between flex-row items-center">
      <div>
        <h3 class="budget_heading">{{ item.budget.category }}</h3>
        <p class="budget_heading">{{ item.budget.month_label }}</p>
        <p class="budget_heading">
          Progress:£{{ item.progress.spent|floatformat:2 }} of £{{item.progress.limit|floatformat:2 }}
        </p>
        <a
          href="{% url 'edit_budget' item.budget.id %}"
          class="action-btn"
          title="Edit"
        >
          <img src="{% static 'images/edit.png' %}" alt="Edit" />
        </a>
        <a
          href="#"
          class="action-btn"
          data-bs-toggle="modal"
          data-bs-target="#budget_delete{{ item.budget.id }}"
          title="Delete"
        >
          <img src="{% static 'images/delete.png' %}" alt="Delete" />
        </a>
      </div>
    </div>
    <div class="">
      <div
        class="progress-bar-container w-100 h-100"
        id="progress-bar-{{ item.budget.id }}"
        data-progress="{{ item.progress.pct }}"
      ></div>
    </div>
  </div>
  {% empty %}
  <h2 class="text-center budget_heading te">
    You haven’t added any budgets yet.
  </h2>
  {% endfor %}
</div>

<!-- Pagination -->
<div class="text-center p-1 glass container mt-3">
  <nav aria-label="transactions navigation" class="row">

    <!-- Page count -->
     <div class="col-4 pagination-text-wrapper">
     <ul class="list-unstyled mb-0">
      <li>
        <span class="monthly pagination-text">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
      </li>
      </ul>
      </div>
    <div class="col-4">
    <ul class="pagination mb-0">
      <li class="{% if not page_obj.has_previous %}disabled{% endif %}">
        <a
          class="pagination-btn"
          href="{% if page_obj.has_previous %}?{{ preserved_qs }}&page={{ page_obj.previous_page_number }}{% else %}#{% endif %}"
          >&lsaquo;</a
        >
      </li>
      <li>
        <p class="pagination-number mb-0">{{ page_obj.number }}</p>
      </li>
      <li class="{% if not page_obj.has_next %}disabled{% endif %}">
        <a
          class="pagination-btn"
          href="{% if page_obj.has_next %}?{{ preserved_qs }}&page={{ page_obj.next_page_number }}{% else %}#{% endif %}"
          >&rsaquo;</a
        >
      </li>
    </ul>
    </div>
  </nav>
</div>


{% for item in page_obj %}
<div class="modal fade" id="budget_delete{{ item.id }}" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="POST" action="{% url 'delete_budget' item.id %}">
        {% csrf_token %}
        <div class="modal-header">
          <h5 class="modal-title">Confirm Execution</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          Are you absolutely sure you want to delete budget <strong>{{ item.category }}</strong>?
        </div>
        <div class="modal-footer flex-nowrap">
          <button type="button" class="transaction-button " data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="transaction-button delete ">Yes, Delete It</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endfor %}
<script src="{% static 'js/budget_progress.js' %}" defer></script>
<script src="https://cdn.jsdelivr.net/npm/progressbar.js@1.1.0/dist/progressbar.min.js"></script>

{% endblock content %}
